git+https://github.com/cloudify-cosmo/cloudify-common@5.0.5.dev1#egg=cloudify-common==master
git+https://github.com/cloudify-cosmo/cloudify-cli@5.0.5.dev1#egg=cloudify==master
git+https://github.com/cloudify-cosmo/cloudify-agent@5.0.5.dev1#egg=cloudify-agent==master
mock
passlib==1.7.1
